<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <ds-themed-text-section *ngIf="hasHomeNewsMetadata; else dsDefaultHomeNews" [sectionId]="'site'" [textRowSection]="homeNewsSection"
                              [site]="(site$ | async)"></ds-themed-text-section>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/nsl/images/search-section-bg.webp">
    <source type="image/jpg" srcset="assets/nsl/images/search-section-bg.jpg">
    <img alt="" [src]="'assets/nsl/images/search-section-bg.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>

<ng-template #dsDefaultHomeNews>
  <section id="search-area" class="mx-auto col-md-10 col-sm-12">
    <h1 *ngIf="lang === 'ka'" class="text-center">სამეცნიერო ციფრული რეპოზიტორიუმი</h1>
    <h1 *ngIf="lang === 'en'" class="text-center">Digital Academic Repository</h1>
    <form name="search" action="/search" class="mt-5" onsubmit="event.preventDefault(); submit();">
        <div class="input-group">
          <input class="form-control fs-larger" type="search" name="query" id="query" autofocus />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search mx-2"></i>
            </button>
          </div>
        </div>
    </form>
    <div class="row justify-content-around mt-6rem" id="link-buttons">
      <a class="btn btn-link btn-primary col-md-4" href="/info/repository-policy">{{ 'info.repository-policy.title' | translate }}</a>
      <a class="btn btn-link btn-primary col-md-4" href="/info/user-guide">{{ 'info.user-guide.title' | translate }}</a>
    </div>
  </section>
</ng-template>
