<section *ngIf="lang === 'en'" class="static container">
	<h1>{{ 'info.instructions.head' | translate }}</h1>
	<a class="btn btn-primary mt-2 mb-5" target="_blank" href="assets/images/Instructions.pdf">{{ 'info.instructions.text-material' | translate }}<i class="fa-solid fa-file-pdf ml-2"></i></a>
	<h2>{{ 'info.instructions.video-material' | translate }}</h2>
	<div class="row pt-2">
		<div class="col-6">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/uwVkXTt8CgQ?si=ocV_1MCGJXuCILU3" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
		<div class="col-6">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/lnUxA8m_bgM?si=ROPcw2dPRaZ_Cldk" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
	</div>
</section>

<section *ngIf="lang === 'ka'" class="static container">
	<h1>{{ 'info.instructions.head' | translate }}</h1>
	<a class="btn btn-primary mt-2 mb-5" target="_blank" href="assets/images/Instructions.pdf">{{ 'info.instructions.text-material' | translate }}<i class="fa-solid fa-file-pdf ml-2"></i></a>
	<h2>{{ 'info.instructions.video-material' | translate }}</h2>
	<div class="row pt-2">
		<div class="col-6">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/uwVkXTt8CgQ?si=ocV_1MCGJXuCILU3" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
		<div class="col-6">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/lnUxA8m_bgM?si=ROPcw2dPRaZ_Cldk" title="YouTube" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
	</div>
</section>
