<section *ngIf="lang === 'en'" class="static text-justify container">
	<h1>{{ 'info.repository-policy.head' | translate }}</h1>
	<p>openscience.ge is an open access repository. All materials hosted in the repository are freely accessible to anyone for searching, browsing, metadata export, and reuse, in accordance with their respective open access licenses.</p>
	<p>Registration is required to create a user profile and submit material to the repository.</p>

	<h3>1. Submission Policy</h3>
	<p>Users with a registered profile are permitted to submit materials to which they hold the appropriate rights.</p>
	<p>The following individuals and organizations are eligible to create a profile in the repository:</p>
	<ol>
		<li>Organizations operating in Georgia (including universities, academic institutions, state and public services, private sector entities, and non-governmental organizations);</li>
		<li>Researchers affiliated with an organization operating in Georgia who are citizens or residents of Georgia;</li>
		<li>Independent researchers who are citizens or residents of Georgia.</li>
	</ol>
	<p>Details regarding the registration process can be found in the <a target="_blank" href="/info/user-guide">User Guide</a>.</p>

	<h3>2. Research Fields</h3>
	<p>openscience.ge accepts materials from all fields of research, provided they adhere to principles of academic integrity and research ethics.</p>

	<h3>3. Types of Materials</h3>
	<p>The repository welcomes a wide range of research outputs, including but not limited to:</p>
	<ul>
		<li>Scientific Articles</li>
		<li>Preprints and Postprints</li>
		<li>Dissertations</li>
		<li>Books</li>
		<li>Master’s Theses (Master's theses will be posted under the profile of a scientific research organization and will be available in closed access)</li>
		<li>Scientific and Official Documents and Reports</li>
		<li>Conference Materials (Abstracts, Posters, Presentations, etc.)</li>
		<li>Course Materials</li>
		<li>Scientific Photographs and Graphic Materials</li>
		<li>Research-related Audio and Video Recordings</li>
		<li>Journals for Archiving</li>
		<li>Implemented Research Projects</li>
	</ul>
	<p>This list is not exhaustive. For inquiries about additional material types, please contact: <a target="_blank" href="mailto:openscience@sciencelib.ge">openscience@sciencelib.ge</a>.</p>

	<h3>4. File Formats</h3>
	<p>The repository supports a broad range of file formats.</p>
	<p>While most formats are accepted, the use of open and sustainable formats is strongly recommended to ensure long-term accessibility and preservation.</p>
	<p>For detailed guidelines on supported formats, please refer to the <a target="_blank" href="/info/user-guide">User Guide</a></p>

	<h3>5. Volume and Size Restrictions</h3>
	<p>The repository allows the following size limits for uploaded files:</p>
	<ul>
		<li>Up to 2 GB per entry for text-based materials.</li>
		<li>Up to 10 GB per entry for visual materials.</li>
	</ul>

	<h3>6. Language Policy</h3>
	<p>Materials may be submitted in any language. However, the following metadata must be provided in both Georgian and English to ensure discoverability and interoperability:</p>
	<ul>
		<li>Abstract</li>
		<li>Title of the Work</li>
		<li>Author(s)</li>
		<li>Keywords</li>
		<li>Year of Publication</li>
		<li>Publisher (this field may be specified in the original language only).</li>
	</ul>

	<h3>7. Access and Reuse Policy</h3>
	<p>Each submission in the repository consists of the hosted material and its accompanying metadata. Access and reuse rules differ for these two components. Information on the use of metadata can be found in Section 8.</p>
	<p>By default, submitted materials will be made openly available to the public, except in the following cases:</p>
	<ul>
		<li>Access is prohibited by a publisher’s contract.</li>
		<li>Access is restricted by copyright or legal limitations.</li>
		<li>Access is embargoed for a defined period as specified during submission.</li>
	</ul>
	<p>The use and reuse of materials depend on the license under which the item is deposited. The repository recommends the use of the Creative Commons Attribution International 4.0 (CC BY 4.0) license for maximum dissemination and reuse.</p>

	<h3>8. Metadata Policy</h3>

	<p>Each item in the repository consists of two components: the hosted document and its accompanying metadata. Different access and reuse rules apply to these components. For information on the access and reuse policy for hosted materials, please refer to Section 7.</p>
	<ul>
		<li>Metadata is publicly available and freely reusable under the terms of the <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication.</a></li>
		<li>All metadata is shared via <a target="_blank" href="https://www.openarchives.org/pmh/">OAI-PMH</a> (Open Archives Initiative Protocol for Metadata Harvesting) to enable efficient data collection and ensure interoperability with other repositories and research platforms.</li>
		<li>Metadata can be exported in a variety of standard formats, including: Chicago, JSON, PDF, CERIF-XML, APA, EndNote, DataCite-XML, BibTeX</li>
		<li>Metadata stored in the repository is permanently archived to ensure its long-term preservation and availability.</li>
		<li>Registered users are responsible for posting accurate metadata in accordance with the repository’s metadata submission guidelines. This helps maintain the quality, consistency, and reliability of the repository’s contents.</li>
		<li>Requests for metadata corrections or updates can be submitted to the repository administrator. Changes will be made upon approval, and in agreement with the author or depositor of the material.</li>
  </ul>

	<h3>9. Digital Object Identifier (DOI) Policy</h3>
	<ul>
		<li>A DOI (Digital Object Identifier) can be assigned to all types of materials accepted for placement in the repository.</li>
		<li>If a material has already been published and assigned a DOI, the existing DOI will be retained.</li>
		<li>The National Science Library holds an annually renewable license to assign DOIs to materials deposited in the repository.</li>
		<li>In cases where metadata corrections are made after a DOI has been assigned, the DOI will remain unchanged. The repository administration will ensure that any metadata updates are properly communicated to the DOI registration agency (DataCite).</li>
		<li>Once a DOI has been assigned, any changes to the scientific content of the material will not be accepted. If changes are necessary, the revised material must be submitted as a new entry and will receive a new DOI.</li>
	</ul>

	<h3>10. Legal Framework</h3>
	<ul>
		<li>By submitting materials to the repository, registered users grant the National Science Library a non-exclusive right to distribute and store the material. Intellectual property rights remain with the original rights holder and are not transferred to the National Science Library.</li>
		<li>If the material is unpublished at the time of submission, the author retains copyright.</li>
		<li>If the material has already been published, the applicable copyright terms and legal restrictions must be observed (see Sections 7 and 11).</li>
		<li>The repository assumes no responsibility for potential claims from co-author(s) or other rights holders of submitted materials.</li>
		<li>The repository is not responsible for the accuracy, legality, or compliance of submitted materials. Responsibility for these aspects lies solely with the registered user who submits the material.</li>
		<li>Any violation of copyright is the sole responsibility of the registered user.</li>
		<li>Suspected or identified copyright violations should be reported to: <a target="_blank" href="mailto:openscience@sciencelib.ge.">openscience@sciencelib.ge.</a></li>
		<li>The National Science Library does not restrict the subsequent publication of submitted materials in journals, monographs, or other platforms. Information on publisher policies regarding preprints and parallel publication can be found in the <a target="_blank" href="https://openpolicyfinder.jisc.ac.uk/">Open Policy Finder.</a></li>
	</ul>

	<h3>11. Retention and Removal Policy</h3>
	<ul>
		<li>All materials and metadata stored in the repository are permanently archived.</li>
		<li>The National Science Library is committed to ensuring that materials deposited in the repository remain accessible and usable in the long term. The Library continuously monitors technological developments to minimize risks associated with data loss, file format obsolescence, and storage or distribution media degradation.</li>
	</ul>
	<p>Materials may be removed from public access in the following cases:</p>
	<ul>
		<li>Proven copyright infringement;</li>
		<li>Identified plagiarism;</li>
		<li>Submission of forged research;</li>
		<li>Research found to contain significant errors;</li>
		<li>Upon the author’s request if a legitimate reason is provided (e.g., the discovery of major inaccuracies, ethical violations);</li>
		<li>Cases involving national security concerns.</li>
	</ul>
	<p>If any of the above conditions apply, please notify the repository administrator at: <a target="_blank" href="http://openscience@sciencelib.ge.">openscience@sciencelib.ge.</a></p>
	<ul>
		<li>When materials are removed, they are not deleted from the system. They are only withdrawn from public access.</li>
		<li>If multiple versions of a material exist, an older version may be removed from public access upon the author’s request, but the content will still be retained within the repository.</li>
		<li>Metadata for removed materials will remain searchable and accessible.</li>
		<li>Identifiers such as URLs and DOIs for removed materials will be preserved indefinitely.</li>
	</ul>

	<h3>12. Backup Policy</h3>
	<p>A backup copy of the repository is maintained on the servers of the <a target="_blank" href="https://grena.ge/">Georgian Scientific and Educational Computer Networks Association (GRENA).</a></p>
	<ul>
		<li>A full backup is created every two weeks.</li>
		<li>The two most recent backup copies are retained at all times to ensure data security and recovery capability.</li>
	</ul>

	<h3>13. Repository Sustainability Action Plan</h3>
	<p>In the event of the repository’s closure, all materials will be transferred to appropriate alternative institutional and/or thematic repositories to ensure their continued availability and preservation.</p>
</section>

<section *ngIf="lang === 'ka'" class="static text-justify container">
	<h1>{{ 'info.repository-policy.head' | translate }}</h1>
	<p>openscience.ge არის ღია წვდომის რეპოზიტორიუმი. ყველას შეუძლია ჰქონდეს წვდომა მასზე, მოიძიოს და დაათვალიეროს განთავსებული მასალა, მოახდინოს მეტამონაცემების ექსპორტი და ხელახლა გამოიყენოს ღია წვდომაში განთავსებული მასალები.</p>
	<p>რეპოზიტორიუმში პროფილის შექმნის და მასალის განთავსებისთვის სავალდებულოა რეგისტრაციის პროცედურის გავლა.</p>

	<h3>1. შეტანის პოლიტიკა</h3>
	<p>რეპოზიტორიუმში პროფილის მქონე მომხმარებლისთვის ნებადართულია იმ მასალის განთავსება, რომელზეც მას აქვს შესაბამისი უფლებები. რეპოზიტორიუმში პროფილის შექმნის უფლება აქვს:</p>
	<ol>
		<li> საქართველოში მოქმედ ორგანიზაციას (უნივერსიტეტები და აკადემიური ინსტიტუტები, სახელმწიფო და საჯარო სამსახურები, კერძო სექტორი, არასამთავრობო ორგანიზაციები);</li>
		<li> საქართველოს მოქალაქეობის მქონე და/ან მაცხოვრებელ, საქართველოში მოქმედ ორგანიზაციებთან აფილირებულ მკვლევარს;</li>
		<li> საქართველოს მოქალაქეობის მქონე და/ან მაცხოვრებელ დამოუკიდებელ მკვლევარს.</li>
	</ol>
	<p>რეგისტრაციის შესახებ ინფორმაცია ხელმისაწვდომია <a target="_blank" href="/info/user-guide">მომხმარებლის სახელმძღვანელოში</a>.</p>

	 <h3>2. კვლევის სფერო</h3>
	<p>მასალები მისაღებია კვლევის ყველა სფეროდან, თუ მათში დაცულია აკადემიური კეთილსინდისიერება და კვლევის ეთიკა.</p>

	<h3>3. განსათავსებელი მასალის ტიპები</h3>
	<ul>
		<li>სამეცნიერო სტატიები</li>
		<li>პრეპრინტები და პოსტპრინტები</li>
		<li>დისერტაციები</li>
		<li>წიგნები</li>
		<li>სამაგისტრო თეზისები (სამაგისტრო ნაშრომი რეპოზიტორიუმში განთავსდება სამეცნიერო-კვლევითი ორგანიზაციის პროფილით, დახურულ წვდომაში);</li>
		<li>სამეცნიერო/ოფიციალური დოკუმენტები და ანგარიშები;</li>
		<li>კონფერენციის მასალები (აბსტრაქტი, პოსტერი, პრეზენტაცია და სხვა);</li>
		<li>სასწავლო კურსის მასალები;</li>
		<li>სამეცნიერო ფოტო და გრაფიკული მასალები;</li>
		<li>კვლევითი აუდიო და ვიდეო ჩანაწერები;</li>
		<li>ჟურნალები არქივაციისთვის;</li>
		<li>განხორციელებული კვლევითი პროექტები.</li>
	</ul>
	<p>მასალის ჩამონათვალი არასრულია. დამატებითი კითხვების შემთხვევაში, დაგვიკავშირდით <a target="_blank" href="mailto:openscience@sciencelib.ge">openscience@sciencelib.ge</a></p>

	<h3>4. განსათავსებელი ფაილის ფორმატი</h3>
	<p>რეპოზიტორიუმი მხარს უჭერს რაც შეიძლება მეტი ფაილის ფორმატს.</p>
	<p>მიუხედავად იმისა, რომ ყველა ფორმატის შეტანა არის შესაძლებელი, რეკომენდებულია ღია და მდგრადი ფორმატების გამოყენება. ფორმატების შესახებ დეტალურ ინფორმაციას გაეცანით <a target="_blank" href="https://openscience.ge/info/user-guide">მომხმარებლის სახელმძღვანელოში</a>.</p>

	<h3>5. განსათავსებელი ფაილის პარამეტრები: მოცულობის და ზომის შეზღუდვები</h3>
	<p>ფაილების ჯამური ზომის ლიმიტი ერთ ჩანაწერზე ტექსტური მასალისთვის არის  2 გბ., ხოლო ვიზუალური მასალისთვის - 10 გბ.</p>

	<h3>6. ენა</h3>
	<p>მისაღებია ნებისმიერ ენაზე შედგენილი მასალის განთავსება, თუმცა სავალდებულოა, რომ შემდეგი მეტამონაცემები წარმოდგენილი იყოს ქართულ და ინგლისურ ენებზე:</p>
	<ul>
		<li>აბსტრაქტი</li>
		<li>ნაშრომის სათაური</li>
		<li>ავტორ(ებ)ი</li>
		<li>საკვანძო სიტყვები</li>
		<li>გამოცემის წელი</li>
		<li>გამომცემელი (აღნიშნული მეტამონაცემი შესაძლებელია მიეთითოს მხოლოდ ორიგინალ ენაზე)</li>
	</ul>

	<h3>7. წვდომის და ხელახალი გამოყენების პოლიტიკა</h3>
	<p>რეპოზიტორიუმის თითოეული მასალა შედგება განთავსებული დოკუმენტისა და მეტამონაცემებისგან, რომლებიც მას აღწერს. მეტამონაცემებსა და განთავსებულ მასალებზე ვრცელდება წვდომისა და ხელახალი გამოყენების სხვადასხვა წესი. მეტამონაცემების გამოყენების წესები იხ. პუნქტი 8 .</p>
	<p>განთავსებული მასალა ღიად ხელმისაწვდომი იქნება საზოგადოებისათვის, გარდა შემდეგი შემთხვევებისა:</p>
	<ul>
		<li>აკრძალულია გამომცემლის კონტრაქტით;</li>
		<li>შეზღუდულია საავტორო უფლებებით;</li>
		<li>გარკვეული დროით დაწესებულია ემბარგო.</li>
	</ul>
	<p>მასალის გამოყენება და ხელახალი გამოყენება დამოკიდებულია იმ ლიცენზიაზე, რომელი ლიცენზიითაც არის რეპოზიტორიუმში განთავსებული მასალა. უპირატესობა ენიჭება Creative Commons Attribution (CC-BY International 4.0) ლიცენზიას.</p>

	<h3>8. მეტამონაცემების პოლიტიკა</h3>
	<ul>
		<li>რეპოზიტორიუმის თითოეული მასალა შედგება შეტანილი დოკუმენტისა და მეტამონაცემებისგან, რომლებიც მას აღწერს. მეტამონაცემებსა და შეტანილ დოკუმენტებზე ვრცელდება წვდომისა და ხელახალი გამოყენების სხვადასხვა წესები; დოკუმენტებზე წვდომისა და ხელახალი გამოყენების წესები იხ. პუნქტი 7.</li>
		<li>მეტამონაცემები ღიად არის ხელმისაწვდომი ყველასთვის და მათი ხელახლა გამოყენება შეუზღუდავად შეუძლია ყველას CC0 ლიცენზიის პირობების მიხედვით <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication</a>;</li>
		<li>ყველა მეტამონაცემის გაზიარება ხდება <a target="_blank" href="https://www.openarchives.org/pmh/">OAI-PMH</a>-ის საშუალებით (Open Archives Initiative Protocol for Metadata Harvesting), რაც მონაცემთა ეფექტური შეგროვების, სხვა რეპოზიტორიუმებსა და კვლევით პლატფორმებთან თავსებადობის საშუალებას იძლევა;</li>
		<li>მეტამონაცემების ექსპორტი ხდება რამდენიმე სტანდარტულ ფორმატში, როგორიცაა Сhicago, Json, pdf, cerif-xml, APA, endnote, datacite-xml, bibtex;</li>
		<li>რეპოზიტორიუმში განთავსებული მეტამონაცემები გრძელვადიანი ხელმისაწვდომობის უზრუნველყოფის მიზნით მუდმივად ინახება;</li>
		<li>რეგისტრირებული მომხმარებლები პასუხისმგებელნი არიან მეტამონაცემების შეტანის წესების მიხედვით განთავსებაზე. ეს ხელს უწყობს რეპოზიტორიუმში განთავსებული მასალის თანმიმდევრულობის დაცვასა და ხარისხის შენარჩუნებას;</li>
		<li>შეცდომები/ცვლილებები განთავსებული მასალის მეტამონაცემებში შეიძლება გასწორდეს რეპოზიტორიუმის ადმინისტრატორის დასტურით, მოთხოვნის შემთხვევაში, ავტორთან შეთანხმებით.</li>
	</ul>

	<h3>9. ციფრული ობიექტის იდენტიფიკატორის (DOI) პოლიტიკა</h3>
	<ul>
		<li>DOI-ის მინიჭება შესაძლებელია რეპოზიტორიუმში განსათავსებლად მიღებულ ყველა ტიპის მასალისთვის. უკვე გამოქვეყნებულ ნაშრომებს უნარჩუნდებათ არსებული DOI;</li>
		<li>ეროვნული სამეცნიერო ბიბლიოთეკა ფლობს, ყოველწლიურად განახლებად, ლიცენზიას რეპოზიტორიუმში განსათავსებელი მასალებისთვის DOI-ისმინიჭებაზე;</li>
		<li>მეტამონაცემების გასწორების შემთხვევაში მასალის DOI არ შეიცვლება. რეპოზიტორიუმის ადმინისტრაცია პასუხისმგებლობას იღებს DOI-ის მარეგისტრირებელი სააგენტოსთვის (DataCite) მეტამონაცემების განახლებასთან დაკავშირებული ინფორმაციის ასახვაზე;</li>
		<li>სამეცნიერო მასალაში ცვლილებები DOI-ის მინიჭების შემდეგ აღარ მიიღება და ნებისმიერი ცვლილება გამოიწვევსმასალის ხელახლა განთავსებას ახალი DOI-ით.</li>
	</ul>

	<h3>10. სამართლებრივი ჩარჩო</h3>
	<ul>
		<li>საკუთარი მასალის რეპოზიტორიუმში განთავსებით რეგისტრირებული მომხმარებლები თანხმდებიან, რომ ეროვნულ სამეცნიერო ბიბლიოთეკას გადასცემენ მასალის გავრცელებისა და შენახვის არაექსკლუზიურ უფლებას. ინტელექტუალური საკუთრების უფლება არ გადაეცემა ეროვნულ სამეცნიერო ბიბლიოთეკას;</li>
		<li>თუ მასალა გამოუქვეყნებელია, რეპოზიტორიუმში განთავსების შემდეგ მასზე ავტორი ინარჩუნებს საავტორო უფლებებს;</li>
		<li>თუ რეპოზიტორიუმში განთავსებული მასალა უკვე გამოქვეყნებულია, დაცული უნდა იყოს მისი საავტორო უფლებების პირობები და სხვა სამართლებრივი შეზღუდვები (იხ. პუნქტი 7, 11);</li>
		<li>რეპოზიტორიუმი არ აგებს პასუხს გამოქვეყნებული მასალის თანაავტორ(ებ)ის (ასეთის არსებობის შემთხვევაში) ნებისმიერი სახის პრეტენზიაზე;</li>
		<li>რეპოზიტორიუმი არ აგებს პასუხს მასში განთავსებული მასალის შინაარსზე; პასუხისმგებლობა სიზუსტეზე, კანონიერებასა და შესაბამის რეგულაციებთან შესაბამისობაზე ეკისრება რეგისტრირებულ მომხმარებელს, რომელიც განათავსებს მასალას;</li>
		<li>საავტორო უფლებების ნებისმიერ დარღვევაზე პასუხისმგებლობა მთლიანად ეკისრება რეგისტრირებულ მომხმარებელს;</li>
		<li>საავტორო უფლებების დარღვევის ფაქტის დადგენის შესახებ უნდა ეცნობოს რეპოზიტორიუმის ადმინისტრატორს <a target="_blank" href="mailto:openscience@sciencelib.ge">openscience@sciencelib.ge</a> ;</li>
		<li>ეროვნული სამეცნიერო ბიბლიოთეკა არ გამორიცხავს მასალების გამოქვეყნებას ჟურნალებში, მონოგრაფიაში ან სხვაგან. გამომცემლის წინასწარი ან პარალელური გამოქვეყნების პოლიტიკა ხელმისაწვდომია ონლაინ რესურსში -<a target="_blank" href="https://openpolicyfinder.jisc.ac.uk/">Open Policy Finder</a>.</li>
	</ul>

	<h3>11. შენახვის და ამოღების პოლიტიკა</h3>
	<ul>
		<li>რეპოზიტორიუმში განთავსებული მასალა და მეტამონაცემები მუდმივად ინახება;</li>
		<li>ეროვნული სამეცნიერო ბიბლიოთეკა უზრუნველყოფს, რომ რეპოზიტორიუმში ღია წვდომაში განთავსებული მასალა იყოს მუდმივად ხელმისაწვდომი, გასაგები და გამოყენებადი გრძელვადიან პერსპექტივაში. ასევე, გაწეულია ძალისხმევა მონაცემთა დაკარგვის, ფაილის ფორმატების, შენახვის ან გავრცელების საშუალებების მოძველების რისკის შესამცირებლად;</li>
	</ul>
	<p>ავტორის მოთხოვნით ან ადმინისტრატორის გადაწყვეტილებით მასალა შეიძლება ამოღებულ იქნეს რეპოზიტორიუმიდან შემდეგ შემთხვევებში:</p>
	<ul>
		<li>საავტორო უფლებების დადასტურებული დარღვევა;</li>
		<li>პლაგიატი;</li>
		<li>გაყალბებული კვლევა;</li>
		<li>კვლევა, რომელიც შეიცავს შეცდომებს;</li>
		<li>ავტორის მოთხოვნის საფუძველზე, ლეგიტიმური მიზეზის მითითებით (მაგალითად, კვლევაში ძირითადი შეცდომების ან უზუსტობების აღმოჩენა, ეთიკური საკითხების დარღვევა)</li>
		<li>ეროვნული უსაფრთხოების საკითხები.</li>
	</ul>
	<p>ნებისმიერი ზემოთ აღნიშნული ფაქტის დაფიქსირების შემთხვევაში, გთხოვთ, მიაწოდეთ ინფორმაცია რეპოზიტორიუმის ადმინისტრატორს <a target="_blank" href="mailto:openscience@sciencelib.ge">openscience@sciencelib.ge</a></p>
	<ul>
		<li>ამოღებული მასალები უშუალოდ არ იშლება სისტემიდან. მათი ამოღება ხდება მხოლოდ ღია წვდომიდან;</li>
		<li>მასალის რამდენიმე ვერსიის არსებობის შემთხვევაში ძველი ვერსია, ავტორის თხოვნით, შესაძლებელია ამოღებულ იქნას საჯარო წვდომიდან, თუმცა არ წაიშლება რეპოზიტორიუმიდან;</li>
		<li>ამოღებული მასალის მეტამონაცემების ძიება შესაძლებელი იქნება;</li>
		<li>ამოღებული მასალის იდენტიფიკატორები - URL/DOI ინახება განუსაზღვრელი ვადით.</li>
	</ul>

	<h3>12. რეპოზიტორიუმის სარეზერვო ასლები</h3>
	<p>რეპოზიტორიუმის სარეზერვო ასლი ინახება საქართველოს სამეცნიერო-საგანმანათლებლო კომპიუტერული ქსელების ასოციაცია <a target="_blank" href="https://grena.ge/">„გრენა"-ს</a> სერვერზე. რეპოზიტორიუმის ასლი კეთდება 2 კვირაში ერთხელ და ინახება ბოლო ორი ასლი.</p>

	<h3>13. რეპოზიტორიუმის მდგრადობის სამოქმედო გეგმა</h3>
	<p>რეპოზიტორიუმის დახურვის შემთხვევაში, მთლიანი მასალა ინტეგრირდება შესაბამის ალტერნატიულ ინსტიტუციურ და/ან თემატურ რეპოზიტორიუმებში.</p>
</section>
