<section *ngIf="lang === 'en'" class="static text-justify container">
	<h1>{{ 'info.about-us.head' | translate }}</h1>
	<p>openscience.ge is an open-access academic digital repository that aggregates the research outputs of academic and research-oriented organizations and individuals in Georgia. The repository is managed by the <a target="_blank" href="https://sciencelib.ge">National Science Library of Georgia</a> and its primary functions are to collect, store long-term, and provide access to scientific information.</p>
	<p>Integrated into both the <a target="_blank" href="https://www.openaire.eu/">OpenAIRE</a> network and the <a target="_blank" href="https://eosc.eu/">European Open Science Cloud (EOSC)</a>, openscience.ge became the first Georgian digital repository to join EOSC in 2022, supported by the <a target="_blank" href="https://ni4os.eu/">National Initiatives for Open Science in Europe (NI4OS Europe)</a> project. Further development followed in 2024-2025 through funding from the <a target="_blank" href="https://datacite.org/global-access-fund/">DataCite Global Access Fund (GAF).</a></p>
	<p>The repository enables higher education institutions, research institutes, non-governmental organizations, state agencies, affiliated and independent researchers, as well as master's and doctoral students in Georgia, to create individual profiles and upload their research results. These can include scientific articles, books, conference proceedings, presentations, audio and video recordings, theses, and dissertations. A full list of accepted material types can be found in the <a target="_blank" href="https://openscience.ge/info/user-guide">User Guide</a>.</p>
	
	<h3>Digital repositories and Their Benefits</h3>
	<p>Open-access repositories are digital platforms that collect, preserve, and provide long-term access to scientific information. They serve as digital archives for various types of research outputs, ensuring their accessibility and sustainability.</p>
	<p>Benefits of Depositing Research in a Repository:</p>
	<ul>
		<li>Open access and visibility</li>
		<li>Increased impact of research results</li>
		<li>Increased citations</li>
		<li>Increased accessibility</li>
		<li>Long-term storage of research results in a secure and standardized format</li>
		<li>Stability of research results</li>
		<li>Possibility of integration with other services (<a target="_blank" href="https://orcid.org/">ORCID</a>, <a target="_blank" href="https://www.doi.org/">DOI</a>)</li>
	</ul>

	<h3>Become a Repository Contributor</h3>
	<p>To learn how to contribute to the repository, visit the <a target="_blank" href="https://openscience.ge/info/user-guide">User Guide</a>, which provides comprehensive instructions on the submission process. The guide outlines who is eligible to contribute, the types and formats of materials that can be submitted, and how to properly prepare research outputs before submission. It also includes step-by-step instructions for uploading materials, available both in written form and through a Video Guide, ensuring a smooth and accessible submission experience.</p>
</section>

<section  *ngIf="lang === 'ka'" class="static text-justify container">
	<h1>{{ 'info.about-us.head' | translate }}</h1>
	<p>openscience.ge არის ღია წვდომის სამეცნიერო ციფრული რეპოზიტორიუმი, რომელიც ერთ სივრცეში აერთიანებს საქართველოში მოქმედი სამეცნიერო და კვლევითი პროფილის ორგანიზაციათა და პირთა კვლევის შედეგებს. რეპოზიტორიუმის ფუნქცია არის სამეცნიერო ინფორმაციის შეგროვება, გრძელვადიანი შენახვა და მასზე წვდომის უზრუნველყოფა. რეპოზიტორიუმი ინტეგრირებულია <a target="_blank" href="https://www.openaire.eu/">OPENAIRE</a> და <a target="_blank" href="https://eosc.eu/">European Open Science Cloud (EOSC)</a> სისტემებში და მის მართვაზე ზრუნავს <a target="_blank" href="https://sciencelib.ge">ეროვნული სამეცნიერო ბიბლიოთეკა</a>.</p>
	<p>openscience.ge არის პირველი ციფრული რეპოზიტორიუმი საქართველოდან, რომელიც 2022 წელს პროექტის "<a target="_blank" href="https://ni4os.eu/">ეროვნული ინიციატივები ღია მეცნიერებისთვის ევროპაში (NI4OS ევროპა)</a>" მხარდაჭერით გაერთიანდა <a target="_blank" href="https://eosc.eu/">ევროპის ღია მეცნიერების ღრუბელში (EOSC)</a>. მოგვიანებით 2024-2025 წლებში ის განვითარდა <a target="_blank" href="https://datacite.org/global-access-fund/"> DataciteGlobal Access Fund (GAF)</a> საგრანტო დახმარების შედეგად.</p>
	<p>ციფრულ რეპოზიტორიუმში საქართველოში მოქმედი უმაღლესი საგანმანათლებლო დაწესებულებს, კვლევით ინსტიტუტებს, არასამთავრობო ორგანიზაციებს, სახელმწიფო სააგენტოებს, აფილირებულ/დამოუკიდებელ მკვლევრებს, მაგისტრანტებსა და დოქტორანტებს შეუძლიათ შექმნან ინდივიდუალური პროფილები და განათავსონ თავიანთი კვლევის შედეგები. კვლევის შედეგები შესაძლოა იყოს: სამეცნიერო სტატიები, მონოგრაფიები, კონფერენციის მასალები, პრეზენტაციები, აუდიო, ვიდეოჩანაწერები, თეზისები და დისერტაციები. მასალათა სახეობების სრული ჩამონათვალი შეგიძლიათ იხილოთ <a target="_blank" href="https://openscience.ge/info/user-guide">მომხმარებლის სახელმძღვანელოში</a>.</p>

	<h3>რეპოზიტორიუმები და მათი სარგებელი</h3>
	<p>ღია წვდომის რეპოზიტორიუმები არის ციფრული პლატფორმები, რომლებიც აგროვებენ, უზრუნველყოფენ სამეცნიერო ინფორმაციაზე წვდომას და გრძელვადიანი შენახვას. რეპოზიტორიუმები წარმოადგენენ სხვადასხვა სახეობის კვლევითი შედეგების ციფრულ არქივებს.</p>
	<p>რეპოზიტორიუმში მასალის განთავსების სარგებელი და შედეგები:</p>
	<ul>
		<li>ღია წვდომა და ხილვადობა</li>
		<li>კვლევის შედეგების გავლენის ზრდა</li>
		<li>ციტირებათა რაოდენობის ზრდა</li>
		<li>გაზრდილი ხელმისაწვდომობა</li>
		<li>კვლევის შედეგების გრძელვადიანი უსაფრთხო და სტანდარტიზებული ფორმატით შენახვა</li>
		<li>კვლევის შედეგების სტაბილურობა</li>
		<li>სხვა სამეცნიერო სერვისებთან ინტეგრაციის შესაძლებლობა (<a target="_blank" href="https://orcid.org/">ORCID</a>, <a target="_blank" href="https://www.doi.org/">DOI</a>)</li>
		</ul>

		<h3>გახდით რეპოზიტორიუმის კონტრიბუტორი</h3>
		<p>საკუთარი მასალის რეპოზიტორიუმში განთავსების მიზნით ეწვიეთ <a target="_blank" href="https://openscience.ge/info/user-guide">მომხმარებლის სახელმძღვანელოს</a>, სადაც ნახავთ ინფორმაციას იმის შესახებ, თუ ვის, რა ტიპის და რა ფორმატის მასალის განთავსება შეუძლია. სახელმძღვანელოში ნაბიჯ-ნაბიჯ გაწერილია მასალის მომზადების და განთავსების ტექნიკური ინსტრუქციები. აქვე იხილავთ ვიდეოგზამკვლევს.</p>
</section>