<section *ngIf="lang === 'en'" class="static container">
	<h1>{{ 'info.cc-licenses-guide.head' | translate }}</h1>
	<p>By granting a license to the material you post, you define how others can use your work and under what conditions. Licenses enable individuals and institutions to grant the public permission to use their work in a standardized manner.</p>
	<p>You can choose a license that allows anyone to freely use your material for any purpose, or opt for a more restrictive license that limits use to non-commercial purposes and/or prohibits the creation of derivative works.</p>
	<p>When submitting to the openscience.ge digital repository, you can select from Creative Commons (CC) license, which offers several types, each with different permissions and restrictions.</p>
	<p>If you're self-archiving already published materials, make sure to review the terms of the original publisher's license and adhere to those guidelines.</p>

	<h2>License Types</h2>

	<section id="licenses" class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution v4.0 International</h5>
					<p class="card-text">This license allows others to distribute, remix, adapt, and build upon your work, including for commercial purposes, as long as they give proper credit to the original author.</p>
					<a href="https://creativecommons.org/licenses/by/4.0/" class="card-link btn btn-primary">CC BY</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY SA</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution-Share Alike v4.0 International</h5>
					<p class="card-text">This license allows others to distribute, remix, adapt, and build upon your work, including for commercial purposes, provided they give credit to the original author and license their adaptations under the same terms.</p>
					<a href="https://creativecommons.org/licenses/by-sa/4.0/" class="card-link btn btn-primary">CC BY SA</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY ND</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution No Derivatives v4.0 International</h5>
					<p class="card-text">This license allows others to distribute your work for both commercial and non-commercial purposes, provided that the work is not modified and the original author is properly credited.</p>
					<a href="https://creativecommons.org/licenses/by-nd/4.0/" class="card-link btn btn-primary">CC BY ND</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY NC</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution Non-Commercial v4.0 International</h5>
					<p class="card-text">This license allows others to distribute and adapt your work for non-commercial purposes only, as long as they attribute the original author. Adaptations are not required to be licensed under the same terms.</p>
					<a href="https://creativecommons.org/licenses/by-nc/4.0/" class="card-link btn btn-primary">CC BY NC</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY NC SA</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution Non-Commercial Share-Alike v4.0 International</h5>
					<p class="card-text">This license allows others to distribute and adapt your work for non-commercial purposes, as long as they provide attribution to the original author. Any adaptations must be licensed under the same terms.</p>
					<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="card-link btn btn-primary">CC BY NC SA</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY NC ND</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution Non-Commercial No Derivatives v4.0 International</h5>
					<p class="card-text">This license allows others to distribute your work, provided they give proper attribution and do not modify it or use it for commercial purposes. This is the most restrictive type of Creative Commons license.</p>
					<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="card-link btn btn-primary">CC BY NC ND</a>
				</div>
			</div>
		</div>
	</section>
</section>

<section *ngIf="lang === 'ka'" class="static container">
	<h1>{{ 'info.cc-licenses-guide.head' | translate }}</h1>
	<p>თქვენ მიერ განთავსებული მასალისთვის ლიცენზიის მინიჭებით თქვენ სხვა ადამიანებს აცნობებთ, თუ რისი და რა პირობებით გაკეთების უფლება აქვთ თქვენს ნაშრომთან მიმართებით. ლიცენზიები ყველას, როგორც ინდივიდუალურ პირებს, ასევე მსხვილ ინსტიტუციებს, საშუალებას აძლევს სტანდარტიზებული გზით დართონ საზოგადოებას მათი ნამუშევრის გამოყენების უფლება.</p>
	<p>თქვენ შეგიძლიათ აირჩიოთ თავისუფალი ლიცენზია,რომელიც ყველას აძლევს უფლებას, გამოიყენოს თქვენი მასალა ნებისმიერი მიზნისთვის, ან შეგიძლიათ აირჩიოთ უფრო შემზღუდავი ლიცენზია, რომელიც მასალის გამოყენებას ზღუდავს მხოლოდ არაკომერციული საქმიანობისთვის ან/და კრძალავს წარმოებული ნამუშევრების გავრცელებას.</p>
	<p>თუ თქვენს მასალას განათავსებთ ციფრულ რეპოზიტორიუმში openscience.ge, თქვენ შესაძლებლობა გექნებათ აირჩიოთ ნებისმიერი ლიცენზია ქვემოთ ჩამოთვლილთაგან. ქვემოთ თქვენ ხედავთ ერთ-ერთ ყველაზე გავრცელებული ლიცენზიის, Creative Commons იგივე CC ლიცენზიის შვიდ განსხვავებულ ტიპს.</p>
	<p>უკვე გამოქვეყნებული მასალების თვითარქივაციისას გთხოვთ გაეცნოთ თავდაპირველი გამომცემლის ლიცენზიის პირობებს და მათ მიხედვით იმოქმედოთ.</p>

	<h2>ლიცენზიის ტიპები</h2>

	<section id="licenses" class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution v4.0 International</h5>
					<p class="card-text">ეს ლიცენზია სხვებს აძლევს უფლებას გაავრცელონ და მოახდინონ ნაშრომის ადაპტირება, მათ შორის კომერციული მიზნებითაც, იმ პირობით, რომ მოხსენებული იქნება ორიგინალი ნაშრომის ავტორი.</p>
					<a href="https://creativecommons.org/licenses/by/4.0/" class="card-link btn btn-primary">CC BY</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY SA</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution-Share Alike v4.0 International</h5>
					<p class="card-text">ეს ლიცენზია სხვებს აძლევს უფლებას გაავრცელონ და მოახდინონ ნაშრომის ადაპტირება, მათ შორის კომერციული მიზნებითაც, იმ პირობით, რომ მოხსენებული იქნება ორიგინალი ნაშრომის ავტორი  და ადაპტაციების ლიცენზირება მოხდება იმავე პირობებით.</p>
					<a href="https://creativecommons.org/licenses/by-sa/4.0/" class="card-link btn btn-primary">CC BY SA</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY ND</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution No Derivatives v4.0 International</h5>
					<p class="card-text">ეს ლიცენზია სხვებს აძლევს უფლებას, გაავრცელონ თქვენი ნაშრომი კომერციული ან არაკომერციული მიზნებით, იმ პირობით, რომ მასში ცვლილებები არ შევა და მოხსენებული იქნება ნაშრომის ავტორი.</p>
					<a href="https://creativecommons.org/licenses/by-nd/4.0/" class="card-link btn btn-primary">CC BY ND</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY NC</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution Non-Commercial v4.0 International</h5>
					<p class="card-text">ეს ლიცენზია სხვებს აძლევს უფლებას გაავრცელონ და მოახდინონ ნაშრომის ადაპტირება მხოლოდ არაკომერციული მიზნებით და, იმ პირობით, რომ მოხსენებული იქნება ორიგინალი ნაშრომის ავტორი არ არის აუცილებელი, რომ ადაპტაციების ლიცენზირება მოხდეს იმავე პირობებით.</p>
					<a href="https://creativecommons.org/licenses/by-nc/4.0/" class="card-link btn btn-primary">CC BY NC</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY NC SA</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution Non-Commercial Share-Alike v4.0 International</h5>
					<p class="card-text">ეს ლიცენზია სხვებს აძლევს უფლებას გაავრცელონ და მოახდინონ ნაშრომის ადაპტირება, მათ შორის კომერციული მიზნებითაც, იმ პირობით, რომ მოხსენებული იქნება ორიგინალი ნაშრომის ავტორი.</p>
					<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="card-link btn btn-primary">CC BY NC SA</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 card">
				<h4 class="card-header">CC BY NC ND</h4>
				<div class="card-body">
					<h5 class="card-subtitle">Creative Commons Attribution Non-Commercial No Derivatives v4.0 International</h5>
					<p class="card-text">ეს ლიცენზია სხვებს აძლევს უფლებას გაავრცელონ თქვენი ნაშრომი იმ პირობით, რომ  მოხსენებული იქნება ნაშრომის ავტორი ნაშრომში ცვლილებების შეტანა ან კომერციული მიზნებით გამოყენება დაუშვებელია. ეს არის CC ლიცენზიებიდან ყველაზე მეტად შემზღუდავი ტიპი.</p>
					<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" class="card-link btn btn-primary">CC BY NC ND</a>
				</div>
			</div>
		</div>
	</section>
</section>
