<section *ngIf="lang === 'en'" class="static container text-justify">
	<h1>{{ 'info.terms-and-conditions.breadcrumbs' | translate }}</h1>
	<h3>1. Introduction</h3>
	<p>These Terms and Conditions of Use govern access to the National Science Library's open-access digital repository, openscience.ge, and the use of its contents. By accessing the website and using its services, you agree to comply with these Terms and Conditions.</p>
	<h3>2. Function of the Repository</h3>
	<p>The Repository is a central open-access digital archive designed to collect, preserve, and provide access to scientific materials. It serves institutions, researchers, and the general public by promoting the dissemination and accessibility of scientific information.</p>
	<h3>3. Access and Use</h3>
	<p>3.1 Open Access: The Repository is open access, meaning it is available to anyone with an internet connection. However, some materials may be subject to restricted access based on institutional or licensing agreements.</p>
	<p>3.2 Usage Rights: Visitors to the Repository website are permitted to view, download, and publicly share materials stored in the Repository, provided they comply with the licensing terms applicable to each specific material.</p>
	<p>3.3 Prohibited Actions: Visitors to the website are prohibited from:</p>
	<ul>
		<li>Using materials posted in the repository for unauthorized commercial purposes.</li>
		<li>Modifying or distributing materials beyond the scope of the applicable license.</li>
		<li>Violating the copyrights of authors and publishers.</li>
		<li>Using automated tools (e.g., bots, web scrapers) to mass download content from the repository.</li>
	</ul>
	<h3>4. Copyright</h3>
	<p>Copyright for materials posted on the repository website remains with the author or other entity holding the copyright. Materials on the repository are subject to individual license terms (e.g., <a target="_blank" href="https://creativecommons.org/">Creative Commons</a> licenses). Visitors must comply with the specific license terms for each material. If a visitor believes that material posted on the website infringes their copyright, they may contact the website administration.</p>
	<h3>5. Visitor Responsibilities</h3>
	<p>When using material from the repository, visitors must properly cite the author in accordance with academic and ethical standards.</p>
	<p>Visitors must respect copyright and comply with the restrictions outlined in the applicable license for each material.</p>
	<p>Visitors are responsible for ensuring their use of the website does not violate any other provisions of these Terms and Conditions of Use.</p>
	<h3>6. Disclaimer</h3>
	<p>The Repository Administration is not responsible for the content of the materials posted in the Repository. The Repository Administration does not guarantee the proper functioning of files or the accuracy and availability of external links specified in the file descriptions.</p>
	<h3>7. Making Changes</h3>
	<p>The Repository website reserves the right to modify the Terms and Conditions of Use at any time. Visitors are encouraged to periodically review these Terms and Conditions to stay informed about any updates or changes.</p>
	<h3>8. Contact Information</h3>
	<p>For any questions, please contact the Repository Administration via email: <a href="mailto:openscience@sciencelib.ge">openscience@sciencelib.ge</a></p>
	<p>By accessing and using the website, you automatically agree to these Terms and Conditions of Use.</p>
</section>

<section  *ngIf="lang === 'ka'" class="static container text-justify">
	<h1>{{ 'info.terms-and-conditions.breadcrumbs' | translate }}</h1>
	<h3>1. შესავალი</h3>
	<p>მოცემული გამოყენების წესები და პირობები არეგულირებს ეროვნული სამეცნიერო ბიბლიოთეკის სამეცნიერო ციფრული რეპოზიტორიუმზე openscience.ge წვდომისა და მისი შიგთავსის გამოყენების საკითხებს. ვებ-გვერდსა და მის შიგთავსზე წვდომით თქვენ ეთანხმებით მოცემულ გამოყენების წესებსა და პირობებს.</p>
	<h3>2. რეპოზიტორიუმის ფუნქცია</h3>
	<p>რეპოზიტორიუმი წარმოადგენს ცენტრალურ ციფრულ ღია წვდომის არქივს, რომელიც აგროვებს, ინახავს და უზრუნველყოფს წვდომას სამეცნიერო მასალაზე. რეპოზიტორიუმი ემსახურება ინსტიტუციებს, მკვლევრებს და მეცნიერებით დაინტერესებულ ფართო საზოგადოებას სამეცნიერო ინფორმაციის გავრცელების ხელშეწყობის გზით.</p>
	<h3>3. წვდომა და გამოყენება</h3>
	<p>3.1 რეპოზიტორიუმი არის ღია წვდომის, რაც ნიშნავს, რომ ის არის ხელმისაწვდომი ინტერნეტთან კავშირის მქონე ყველა ინდივიდისთვის. რეპოზიტორიუმში განთავსებულ ზოგიერთ მასალაზე შესაძლებელია მოქმედებდეს შეზღუდული წვდომა ინსტიტუციური ან ლიცენზირების შეთანხმებების საფუძველზე.</p>
	<p>3.2 რეპოზიტორიუმის ვებ-გვერდის ვიზიტორებს უფლება აქვთ ნახონ, გადმოწერონ და საჯაროდ გააზიარონ რეპოზიტორიუმში დაცული მასალები, კონკრეტულ მასალზე მოქმედი ლიცენზირების პირობების შესაბამისად.</p>
	<p>3.3 ვებ-გვერდის ვიზიტორებს არ აქვთ უფლება:</p>
	<ul>
		<li>რეპოზიტორიუმში განთავსებული მასალების არაავტორიზებული კომერციული მიზნებისთვის გამოყენება.</li>
		<li>ლიცენზიის პირობებით დაშვებულზე მეტად მასალის მოდიფიცირება და გავრცელება</li>
		<li>ავტორთა და გამომცემელთა საავტორო უფლებების დარღვევა</li>
		<li>ავტომატიზებული ინსტრუმენტების (ბოტები, ვებ-სქრეიფერები) გამოყენება რეპოზიტორიუმის შიგთავსის მასობრივი გადმოწერის მიზნით.</li>
	</ul>
	<h3>4. საავტორო უფლებები</h3>
	<p>რეპოზიტორიუმის ვებ-გვერდზე განთავსებულ მასალაზე საავტორო უფლებები რჩება მასალის ავტორს ან საავტორო უფლების მქონე სხვა პირს/ორგანიზაციას. რეპოზიტორიუმის ვებ-გვერდზე განთავსებულ მასალებზე მოქმედებს ინდივიდუალური ლიცენზიის პირობები (მაგალითად, <a target="_blank" href="https://creativecommons.org/">Creative Commons</a> ან სხვა შესაბამისი ლიცენზიები). ვიზიტორები უნდა დაემორჩილონ თითოეულ მასალაზე მოქმედ ლიცენზიის პირობებს. თუ ვიზიტორი თვლის, რომ ვებ-გვერდზე განთავსებული მასალა არღვევს მის საავტორო უფლებას, მას შეუძლია დაუკავშირდეს ვებ-გვერდის ადმინისტრაციას.
	</p>
	<h3>5. ვიზიტორის პასუხისმგებლობები</h3>
	<p>რეპოზიტორიუმის ვებ-გვერდზე განთავსებული მასალის გამოყენებისას, მასალის ავტორის ციტირება უნდა მოხდეს აკადემიური და ეთიკური სტანდარტების შესაბამისად.</p>
	<p>ვიზიტორებმა პატივი უნდა სცენ საავტორო უფლებებს, გაეცნონ და დაემორჩილონ მითითებულ ლიცენზიის შეზღუდვებს.</p>
	<p>ვიზიტორები უნდა დარწმუნდნენ, რომ მათ მიერ ვებ-გვერდის გამოყენება არ აღღვევს რეპოზიტორიუმის ვებ-გვერდის გამოყენების წესებისა და პირობების სხვა პუნქტებს.</p>
	<h3>6. პასუხისმგებლობის უარყოფა</h3>
	<p>რეპოზიტორიუმის ადმინისტრაცია არ არის პასუხისმგებელი რეპოზიტორიუმში განთავსებული მასალის შინაარსზე. რეპოზიტორიუმის ადმინისტრაცია არ არის პასუხისმგებელი ფაილებსა და ფაილების აღწერილობებში მითითებული გარე ბმულების გამართული მუშაობის უზრუნველყოფაზე.</p>
	<h3>7. ცვლილებების შეტანა</h3>
	<p>რეპოზიტორიუმის ვებ-გვერდი იტოვებს გამოყენების წესებისა და პირობების დოკუმენტში ნებისმიერ დროს ცვლილებების შეტანის უფლებას. რეკომენდებულია ვიზიტორებმა პერიოდულად გადაამოწმონ და გაეცნონ რეპოზიტორიუმის ვებ-გვერდის გამოყენების წესებსა და პირობებს.</p>
	<h3>8. საკონტაქტო ინფორმაცია</h3>
	<p>მოცემულ წესებთან და პირობებთან დაკავშირებული შეკითხვების შემთხვევაში, გთხოვთ წერილობით მოგვმართოთ რეპოზიტორიუმის ადმინისტრაციას ელ. ფოსტაზე: <a href="mailto:openscience@sciencelib.ge">openscience@sciencelib.ge</a></p>
	<p>ვებ-გვერდზე წვდომით და მისი გამოყენებით თქვენ ავტომატურად ეთანხმებით რეპოზიტორიუმის ვებ-გვერდის გამოყენების წესებსა და პირობებს.<p>
</section>
