<section *ngIf="lang === 'en'" class="static text-justify">

	<h1>{{ 'info.privacy.title' | translate }}</h1>

	<h3>Introduction</h3>
	<p>Digital Academic Repository of the National Science Library respect your privacy and are committed to protecting it through our compliance with this policy.</p>
	<p>This policy describes the types of information we may collect from you or that you may provide when you visit this website (openscience.ge) and our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>
	<p>This policy applies to information we collect:</p>
	<ul>
		<li>On this Website.</li>
		<li>In email, text, and other electronic messages between you and this Website.</li>
	</ul>
	<p>It does not apply to information collected by:</p>
	<ul>
		<li>us offline or through any other means, including on any other website operated by Company or any third party; or</li>
		<li>any third party, including through any application or content (including advertising) that may link to or be accessible from or on the Website.</li>
	</ul>
	<p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website. By accessing or using this Website, you agree to this privacy policy. This policy may change from time to time. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>


	<h3>Information we collect about you and how we collect it</h3>
	<p>We collect several types of information from and about users of our Website, including information:</p>
	<ul>
		<li>by which you may be personally identified, such as name, e-mail address, telephone number, or any other identifier by which you may be contacted online or offline ("personal information"); and/or</li>
		<li>about your internet connection, the equipment you use to access our Website and usage details.</li>
	</ul>
	<p>We collect this information:</p>
	<ul>
		<li>directly from you when you provide it to us.</li>
		<li>automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies, web beacons, and other tracking technologies; and/or</li>
		<li>from third parties, for example, our business partners.</li>
	</ul>

	<h3>Information you provide to us</h3>
	<p>The information we collect on or through our Website may include:</p>
	<ul>
		<li>Information that you provide by filling in forms on our Website. We may also ask you for information when you report a problem with our Website.</li>
		<li>Records and copies of your correspondence (including email addresses), if you contact us.</li>
		<li>Your responses to surveys that we might ask you to complete for research purpose.</li>
	</ul>

	<h3>Information we collect through automatic data collection technologies</h3>
	<p>As you navigate through and interact with our Website, we may use automatic data collection technologies to collect certain information about your equipment, browsing actions, and patterns, including:</p>
	<ul>
		<li>Details of your visits to our Website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the Website.</li>
		<li>Information about your computer and internet connection, including your IP address, operating system, and browser type.</li>
	</ul>
	<p>The information we collect automatically is statistical data and does not include personal information, but we may maintain it or associate it with personal information we collect in other ways or receive from third parties. It helps us to improve our Website and to deliver a better and more personalized service, including by enabling us to:</p>
	<ul>
		<li>Estimate our audience size and usage patterns.</li>
		<li>Store information about your preferences, allowing us to customize our Website according to your individual interests.</li>
		<li>Speed up your searches.</li>
		<li>Recognize you when you return to our Website.</li>
	</ul>
	<p>The technologies we use for this automatic data collection may include:</p>
	<ul>
		<li>Cookies (or browser cookies). A cookie is a small file placed on the hard drive of your computer. You may refuse to accept browser cookies by activating the appropriate setting on your browser. However, if you select this setting you may be unable to access certain parts of our Website. Unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you direct your browser to our Website.</li>
	</ul>

	<h3>How we use your information</h3>
	<p>We use information that we collect about you or that you provide to us, including any personal information:</p>
	<ul>
		<li>To present our Website and its contents to you.</li>
		<li>To provide you with information, products, or services that you request from us.</li>
		<li>To fulfill any other purpose for which you provide it.</li>
		<li>To carry out our obligations and enforce our rights arising from any contracts entered into between you and us, including for billing and collection.</li>
		<li>To notify you about changes to our Website or any products or services we offer or provide through it.</li>
		<li>In any other way we may describe when you provide the information.</li>
		<li>For any other purpose with your consent.</li>
	</ul>

	<h3>Disclosure of your information</h3>
	<p>We may disclose aggregated information about our users, and information that does not identify any individual, without restriction.</p>
	<p>We may disclose personal information that we collect or you provide as described in this privacy policy:</p>
	<ul>
		<li>To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.</li>
		<li>To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Company's assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by Company about our Website users is among the assets transferred.</li>
		<li>To fulfill the purpose for which you provide it.</li>
		<li>For any other purpose disclosed by us when you provide the information.</li>
		<li>With your consent.</li>
	</ul>
	<p>We may also disclose your personal information:</p>
	<ul>
		<li>To comply with any court order, law, or legal process, including to respond to any government or regulatory request.</li>
		<li>To enforce or apply our <a [routerLink]="['/info/end-user-agreement']" target="_blank" rel="noopener noreferrer">End User Agreement</a> and other agreements, including for billing and collection purposes.</li>
		<li>If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of the Company, our customers, or others.</li>
	</ul>

	<h3>Changes to our privacy policy</h3>
	<p>It is our policy to post any changes we make to our privacy policy on this page. The date the privacy policy was last revised is identified at the top of the page. You are responsible for periodically visiting our Website and this privacy policy to check for any changes.</p>
</section>

<section *ngIf="lang === 'ka'" class="static text-justify">

	<h1>{{ 'info.privacy.title' | translate }}</h1>

	<h3>შესავალი</h3>
	<p>ეროვნული სამეცნიერო ბიბლიოთეკის სამეცნიერო ციფრული რეპოზიტორიუმი openscience.ge, პატივს სცემს თქვენს კონფიდენციალურობას და ვალდებულებას იღებს, დაიცვას იგი ამ დოკუმენტში გათვალისწინებული პოლიტიკის შესაბამისად.</p>
	<p>აღნიშნული პოლიტიკის დოკუმენტი აღწერს ინფორმაციის იმ ტიპებს, რომლებიც შეიძლება თქვენგან შევაგროვოთ, ან თავად მოგვაწოდოთ ვებგვერდის openscience.ge მონახულებისას. ეს დოკუმენტი ასევე აღწერს ინფორმაციის შეგროვების, გამოყენების, შენახვის, დაცვისა და გამჟღავნების პრაქტიკას..</p>
	<p>პოლიტიკა ეხება ჩვენ მიერ შეგროვებულ ინფორმაციას:</p>
	<ul>
		<li>ამ ვებგვერდზე;</li>
		<li>ინფორმაციას, რომელიც გაზიარდა ელექტრონული ფოსტით, ტექსტური და სხვა ელექტრონული შეტყობინებების გზით თქვენსა და ამ ვებგვერდს შორის.</li>
	</ul>
	<p>ის არ ვრცელდება ინფორმაციაზე, რომელიც შეგროვდა:</p>
	<ul>
		<li>ოფლაინ ან ნებისმიერი სხვა საშუალებით, მათ შორის ნებისმიერ სხვა ვებგვერდზე, რომელსაც მართავს ორგანიზაცია; </li>
		<li>ნებისმიერი მესამე მხარის მიერ, მათ შორის ნებისმიერი აპლიკაციის ან კონტენტის მეშვეობით (რეკლამის ჩათვლით), რომელიც შეიძლება წარმოადგენდეს ბმულს ან ხელმისაწვდომი იყოს ვებგვერდზე, ან ვებგვერდიდან.</li>
	</ul>
	<p>გთხოვთ ყურადღებით წაიკითხოთ აღნიშნული პოლიტიკა, რათა გაიგოთ ჩვენი მიდგომა და პრაქტიკა თქვენს ინფორმაციასთან დაკავშირებით. იმ შემთხვევაში, თუ არ ეთანხმებით ჩვენს პოლიტიკას და პრაქტიკას, თქვენი არჩევანია,  გამოიყენებთ თუ არა ჩვენს ვებგვერდს. ამ ვებგვერდზე წვდომით ან მისი გამოყენებით, თქვენ ეთანხმებით მისი კონფიდენციალურობის პოლიტიკას. აღნიშნული პოლიტიკა შეიძლება დროდადრო შეიცვალოს. თქვენ მიერ ამ ვებგვერდის გამოყენება, ცვლილებების შეტანის შემდეგ, მიჩნეული იქნება ამ ცვლილებებზე თანხმობად. ამიტომ გთხოვთ პერიოდულად შეამოწმოთ იგი.</p>

	<h3>ინფორმაცია, რომელსაც ვაგროვებთ თქვენ შესახებ და როგორ მოვიპოვებთ მას</h3>
	<p>ჩვენ ვაგროვებთ რამდენიმე სახის ინფორმაციას ჩვენი ვებგვერდის მომხმარებლებისგან:</p>
	<ul>
		<li>მონაცემებს, რომლითაც შეიძლება თქვენი პერსონალური იდენტიფიცირება, მაგალითად, სახელი, ელექტრონული ფოსტის მისამართი, ტელეფონის ნომერი ან ნებისმიერი სხვა მაიდენტიფიცირებელი ინფორმაცია, რომლითაც შესაძლებელია თქვენთან დაკავშირება ონლაინ ან ოფლაინ („პერსონალური ინფორმაცია“); და/ან</li>
		<li>მონაცემებს თქვენი ინტერნეტკავშირისა და მოწყობილობის შესახებ, რომელსაც იყენებთ ჩვენს ვებგვერდზე წვდომისთვის და ვებგვერდის მოხმარების დეტალებს.</li>
	</ul>
	<p>ჩვენ ვაგროვებთ ამ ინფორმაციას:</p>
	<ul>
		<li>უშუალოდ თქვენგან, როცა გვაწვდით მას;</li>
		<li>ავტომატურად, საიტზე ნავიგაციისას. ავტომატურად შეგროვებული ინფორმაცია შეიძლება შეიცავდეს ვებგვერდის გამოყენების ასეთ დეტალებს: IP მისამართებს და ქუქი ფაილებს, ვებ-სანავიგაციო და მეთვალყურეობის სისტემების სხვა ტექნოლოგიების მეშვეობით შეგროვებულ ინფორმაციას</li>
		<li></li>
	</ul>


	<h3>ინფორმაცია, რომელსაც თქვენ გვაწვდით</h3>
	<p>ინფორმაცია, რომელსაც ვაგროვებთ ჩვენი ვებგვერდის მეშვეობით, შეიძლება შეიცავდეს:</p>
	<ul>
		<li>მონაცემებს, რომელსაც გვაწვდით ჩვენს ვებგვერდზე არსებული ფორმების შევსებით;</li>
		<li>თქვენთან მიმოწერის ჩანაწერებს და ასლებს (მათ შორისაა ელექტრონული ფოსტის მისამართები) ჩვენთან დაკავშირების შემთხვევაში;</li>
		<li>თქვენს პასუხებს გამოკითხვებზე, რომლის შევსებაც შეიძლება გთხოვოთ კვლევის მიზნით.</li>
	</ul>

	<h3>ინფორმაცია, რომელსაც ჩვენ ვაგროვებთ მონაცემთა ავტომატური შენახვის ტექნოლოგიების მეშვეობით</h3>
	<p>ჩვენს ვებგვერდზე ნავიგაციისას და ინტერაქციისას, ჩვენ შეიძლება გამოვიყენოთ მონაცემთა ავტომატური შეგროვების ტექნოლოგიები გარკვეული ინფორმაციის შესაგროვებლად, თქვენი მოწყობილობის, ბრაუზერების მუშაობისა და პატერნების შესახებ, მათ შორისაა:<p>
	<ul>
	<li> ჩვენს ვებგვერდზე თქვენი ვიზიტების დეტალები, რომლებიც მოიცავს ტრაფიკის მონაცემებს (ვიზიტების რაოდენობას, გვერდების ნახვებს, მომხმარებლის აქტივობას), ადგილმდებარეობის შესახებ მონაცემებს, შესვლებს და სხვა საკომუნიკაციო ინფორმაციას, ასევე რესურსებს, რომლებზეც წვდომა გაქვთ და იყენებთ ვებგვერდზე;</li>
	<li>ინფორმაციას თქვენი კომპიუტერისა და ინტერნეტკავშირის შესახებ, თქვენი IP მისამართის, ოპერაციული სისტემისა და ბრაუზერის ტიპის ჩათვლით.</li>
	</ul>
	<p>ინფორმაცია, რომელსაც ჩვენ ავტომატურად ვაგროვებთ, არის სტატისტიკური მონაცემი და არ შეიცავს პერსონალურ ინფორმაციას, მაგრამ ჩვენ შეიძლება შევინახოთ, ან დავუკავშიროთ ის პირად ინფორმაციას, რომელიც მიღებულია სხვა საკომუნიკაციო საშუალებით. ის გვეხმარება გავაუმჯობესოთ ჩვენი ვებგვერდი, რათა მოგაწოდოთ უკეთესი და უფრო პერსონალიზებული სერვისი. ასევე, საშუალება გვაქვს:</p>
	<ul>
		<li>შევაფასოთ ჩვენი აუდიტორიის ზომა და ვებგვერდის გამოყენების პატერნები;</li>
		<li>განვათავსოთ ინფორმაცია მომხმარებლის პარამეტრებზე, რაც საშუალებას იძლევა ვებსაიტის მოერგოს ინდივიდუალურ ინტერესებს;</li>
		<li>დავაჩქაროთ ძიება;</li>
		<li>ამოგიცნოთ, როდესაც ხელახლა ისარგებლებთ ჩვენი ვებგვერდით.</li>
	</ul>
	<p>ტექნოლოგიები, რომლებსაც ვიყენებთ ამ მონაცემთა ავტომატური შეგროვებისთვის, შეიძლება მოიცავდეს:</p>
	<ul>
		<li>ქუქიფაილებს (ან ბრაუზერის ქუქი ფაილებს). ეს არის პატარა ფაილი, რომელიც განთავსებულია თქვენი კომპიუტერის მყარ დისკზე. თქვენს ბრაუზერში შესაბამისი პარამეტრის გააქტიურებით, შეგიძლიათ არ დათანხმდეთ წვდომას ბრაუზერის ქუქი ფაილების მიღებაზე. თუმცა, თუ ამ პარამეტრს აირჩევთ, შესაძლოა ვერ მოახერხოთ წვდომა ჩვენი ვებგვერდის გარკვეულ ინფორმაციაზე. თუ თქვენ არ დაარეგულირებთ თქვენი ბრაუზერის პარამეტრს ისე, რომ უარყოს ქუქიფაილები, მაშინ ჩვენს ვებგვერდზე თქვენი ვიზიტის შემთხვევაში ჩვენი სისტემა შექმნის მათ.</li>
	</ul>

	<h3>როგორ ვიყენებთ თქვენს ინფორმაციას</h3>
	<p>ჩვენ ვიყენებთ ინფორმაციას, რომელსაც თქვენ შესახებ ვაგროვებთ, ან რომელსაც გვაწვდით, მათ შორის, ნებისმიერ პირად ინფორმაციას:</p>
	<ul>
		<li>რათა წარმოგიდგინოთ ჩვენი ვებგვერდი და მისი კონტენტი; </li>
		<li>მოგაწოდოთ ინფორმაცია, პროდუქტები ან სერვისები, რომლებსაც ჩვენგან ითხოვთ;</li>
		<li>რათა შეგატყობინოთ ვებგვერდთან ან ნებისმიერ იმ პროდუქტთან და სერვისთან  დაკავშირებული ცვლილებების შესახებ, რომელსაც ჩვენ გაწვდით.</li>
		<li>რათა შეგატყობინოთ ვებგვერდთან ან ნებისმიერ იმ პროდუქტთან და სერვისთან  დაკავშირებული ცვლილებების შესახებ, რომელსაც ჩვენ გაწვდით</li>
		<li>ნებისმიერი სხვა მიზნის შესასრულებლად, რისთვისაც ინფორმაციას გვაწვდით;</li>
	</ul>

	<h3>თქვენი ინფორმაციის გამჟღავნება</h3>
	<p>ჩვენ შეიძლება შეზღუდვის გარეშე გავამჟღავნოთ შეგროვებული ინფორმაცია ჩვენი მომხმარებლების შესახებ და ინფორმაცია, რომელიც არ ახდენს რომელიმე ინდივიდის იდენტიფიცირებას.</p>
	<p>ჩვენი კონფიდენციალურობის პოლიტიკის მიხედვით, პერსონალური ინფორმაცია, რომელსაც ვაგროვებთ ან თქვენ გვაწვდით, შეიძლება გავუზიაროთ:</p>
	<ul>
		<li>სერვისის მომწოდებლებსა და პარტნიორებს: ჩვენ შეიძლება გავუზიაროთ ინფორმაცია მესამე მხარის სერვისის მომწოდებლებს, კონტრაქტორებსა და ინსტიტუციურ პარტნიორებს, რომლებიც ეხმარებიან და მხარს უჭერენ რეპოზიტორიუმს მუშაობაში. ეს მხარეები ვალდებულნი არიან შეინარჩუნონ პერსონალური ინფორმაციის კონფიდენციალურობა და გამოიყენონ იგი მხოლოდ იმ მიზნებისთვის, რისთვისაც იგი გამჟღავნებულია.</li>
		<li>ინსტიტუციური ან ორგანიზაციული ცვლილებების შემთხვევაში: გაერთიანების, რეორგანიზაციის ან სხვა ადმინისტრაციული რესტრუქტურიზაციის შემთხვევაში, რომელიც მოიცავს ეროვნულ სამეცნიერო ბიბლიოთეკას ან რეპოზიტორიუმს, პერსონალური ინფორმაცია შეიძლება გადაცემული იქნას შესაბამისი კონფიდენციალურობისა და მონაცემთა დაცვის გარანტიების გათვალისწინებით.</li>
		<li>იმ მიზნის შესასრულებლად, რისთვისაც იყო მოწოდებული ინფორმაცია: მაგალითად, თუ თქვენ განათავსებთ სამეცნიერო ნაშრომს რეპოზიტორიუმში, თქვენი სახელი, აფილაცია და სხვა მეტამონაცემები საჯაროდ იქნება ხელმისაწვდომი ღია წვდომისა და სამეცნიერო კომუნიკაციის მიზნების შესაბამისად.
	თქვენი თანხმობით: ჩვენ მოვითხოვთ თქვენს თანხმობას, სანამ არ გავამჟღავნებთ თქვენს პირად ინფორმაციას რაიმე ფორმით, რომელიც არ ვრცელდება ამ კონფიდენციალურობის პოლიტიკაში.</li>
		<li>თქვენი თანხმობით: ჩვენ მოვითხოვთ თქვენს თანხმობას, სანამ არ გავამჟღავნებთ თქვენს პირად ინფორმაციას რაიმე ფორმით, რომელიც არ ვრცელდება ამ კონფიდენციალურობის პოლიტიკაში.</li>
	</ul>
	<p>ჩვენ ასევე შეიძლება გავამჟღავნოთ თქვენი პირადი ინფორმაცია:</p>
	<ul>
		<li>სამართლებრივი მოთხოვნების დაცვის მიზნით: სასამართლოს ნებისმიერი ბრძანების, კანონის ან სამართლებრივი პროცესის შესასრულებლად, მათ შორის მთავრობის ან მარეგულირებელი მოთხოვნების საპასუხოდ;</li>
		<li>რეპოზიტორიუმის წესებისა და პოლიტიკის აღსასრულებლად: რეპოზიტორიუმის <a [routerLink]="['/info/end-user-agreement']" target="_blank" rel="noopener noreferrer">საბოლოო მომხმარებლის შეთანხმებისა</a> და სხვა რელევანტური შეთანხმებების ან ინსტიტუციური პოლიტიკების აღსასრულებლად.</li>
		<li>უსაფრთხოებისა და უფლებების დასაცავად: თუ ჩვენთვის სარწმუნო იქნება, რომ გამჟღავნება აუცილებელია ეროვნული სამეცნიერო ბიბლიოთეკის, რეპოზიტორიუმისა და რეპოზიტორიუმის მომხმარებლების უფლებების, საკუთრების ან უსაფრთხოების დასაცავად.</li>
	</ul>

	<h3>ცვლილებები ჩვენს კონფიდენციალურობის პოლიტიკაში</h3>
	<p>კონფიდენციალურობის პოლიტიკა შესაძლოა პერიოდულად განახლდეს რათა ასახოს ცვლილებები ჩვენს პრაქტიკაში, სამართლებრივ ვალდებულებებსა და ინსტიტუციურ პოლიტიკებში. ნებისმიერი ცვლილება გამოქვეყნებული იქნება ამ გვერდზე, ცვლილების თარიღის მითითებით.</p>
	<p>ჩვენ მოგიწოდებთ რეგულარულად გადახედოთ ამ კონფიდენციალურობის პოლიტიკას, რათა იყოთ ინფორმირებული იმის შესახებ, თუ როგორ მართავს და იცავს ეროვნული სამეცნიერო ბიბლიოთეკა თქვენს პერსონალურ ინფორმაციას.</p>
</section>
