<section *ngIf="lang === 'en'" class="static text-justify container">
	<h1>{{ 'info.self-archiving-guide.head' | translate }}</h1>

	<h3>Introduction</h3>
	<p>Self-archiving is the process of depositing research outputs, such as scientific articles, monographs, and conference proceedings, into an open-access repository. This practice enables authors to freely share their work, boosting its visibility, accessibility, and ensuring its long-term preservation.</p>
	<p>An academic digital repository serves as a dedicated platform for self-archiving research materials. Uploading your work to a national repository is one of the most effective strategies for self-archiving. However, there may be conflicts between copyright and licensing terms of published materials and their inclusion in the repository.</p>
	<p>In this guide, we will address key issues related to self-archiving, with a primary focus on scientific articles.</p>

	<h3>Copyright</h3>
	<p>Research materials should only be made publicly available in a digital repository if there are no legal restrictions (e.g. restrictions imposed by copyright holders, copyright transfer agreements, etc.). If your material has already been published (e.g., a scientific article, monograph), you may have transferred copyright to the publisher through a publishing agreement. Before making your work publicly available in a repository, you should determine whether the publisher permits self-archiving in a digital repository and, if so, which version of the work can be uploaded.</p>
	<p>If you are the author of the work, you can verify your rights by reviewing the publishing agreement with the publisher, paying particular attention to the relevant clauses. Generally, copyright for articles published in open-access journals usually remains with the author, while copyright for articles in closed-access journals is typically transferred to the publisher.</p>

	<h3>Scientific Journals and Self-Archiving Policies</h3>
	<p>The information whether an article can be publicly available in a repository can also be found on the publisher's website under copyright terms and self-archiving policies, as well as in the online resource <a href="https://openpolicyfinder.jisc.ac.uk/">Open Policy Finder</a>, which offers detailed information on the self-archiving policies of journals worldwide.</p>
	<p>If you are unable to locate the relevant information through these methods, you can always contact the publisher directly via their website’s contact form or by email to request permission for self-archiving.</p>

	<h3>Manuscript Versions for Self-Archiving</h3>
	<p>Many publishers restrict the self-archiving of the final published version of a work. Below are the different manuscript versions and their key distinctions:</p>
	<ul>
		<li>Submitted Manuscript (SM) - The original version submitted to a journal before peer review. This version has not undergone any editorial or reviewer feedback.</li>
		<li>Author Accepted Manuscript (AAM) - The peer-reviewed version that incorporates revisions based on reviewer feedback but has not been copyedited or formatted by the publisher. It does not include journal branding or final typesetting.</li>
		<li>Publisher's Version / Version of Record (VOR) - The final, formatted version published by the journal, including official typesetting, branding, and any assigned identifiers (DOI, pagination, etc.).</li>
	</ul>
	<p>Before uploading your work, verify which version your publisher permits for self-archiving.</p>
	<p>The publisher may restrict uploading the final published version (VOR) but often permits self-archiving of the Author Accepted Manuscript (AAM) or Submitted Manuscript (SM). These versions are widely accepted for digital self-archiving. If you are unable to self-archive the Version of Record (VOR), aim to self-archive for the Author Accepted Manuscript (AAM) version of your article.</p>

	<h3>Self-Archiving and Publisher Terms</h3>
	<p>As, mentioned, publishers may not permit the upload of the final publisher’s version (VOR) to a repository, but they often allow the self-archiving of Author Accepted Manuscript (AAM) or Submitted Manuscripts (SM). In such cases, the publisher may require certain conditions to be met, including:</p>
	<ul>
		<li>A link to the publisher's website</li>
		<li>A link to the final version of the article or the publisher's version</li>
		<li>DOI (Digital Object Identifier): DOIs are permanent identifiers assigned by publishers to scholarly articles. For example, a DOI might look like "10.9845/os674" or "<a href="https://doi.org/10.9845/os674">https://doi.org/10.9845/os674</a>"</li>
		<li>Embargo Period: Publishers may require delayed open access to self-archived publications, which means that the deposited publication can be publicly available after a certain period of time, usually referred to as “embargo period”. In such cases, you must specify an embargo period when uploading your article to the repository. The file will remain restricted until the embargo period is over, at which point it will be open for public access.</li>
	</ul>

	<h3>Multiple-Author Research Results</h3>
	<p>A digital repository can host research outputs created by multiple authors or author groups. Before submitting such materials, ensure that all co-authors agree to depositing.</p>
	<p>Make sure to adhere to the copyright and self-archiving policies of the scientific journals, and, in the case of multi-author works, respect the wishes of all contributors before uploading the material. You can use the online resource <a href="https://openpolicyfinder.jisc.ac.uk/">Open Policy Finder</a> to verify compliance with the terms set by scientific journals.</p>
</section>

<section *ngIf="lang === 'ka'" class="static text-justify container">
	<h1>{{ 'info.self-archiving-guide.head' | translate }}</h1>

	<h3>შესავალი</h3>

	<p>თვითარქივაცია არის კვლევის შედეგების, როგორებიცაა, მაგალითად, სამეცნიერო სტატიები, მონოგრაფიები, კონფერენციის მასალები, ღია წვდომის რეპოზიტორიუმში განთავსება. თვითარქივაცია ავტორებს ეხმარება თავისუფლად გააზიარონ თავიანთი ნამუშევარი, გაზარდონ მათზე ხილვადობა, წვდომა და ხელი შეუწყონ გრძელვადიან შენახვასა და დაცვას.</p>
	<p>სამეცნიერო ციფრული რეპოზიტორიუმი არის სპეციალური პლატფორმა, რომელიც ავტორებს ეხმარება საკუთარი კვლევის შედეგების თვითარქივაციაში. რეპოზიტორიუმში თქვენი მასალების განთავსება არის თვითარქივაციის ერთ-ერთი ყველაზე საიმედო სტრატეგია, თუმცა შესაძლოა რეპოზიტორიუმში განთავსება და გამოქვეყნებულ მასალაზე მოქმედი საავტორო უფლებები და ლიცენზიის პირობები წინააღმდეგობაში იყოს.</p>
	<p>ქვემოთ გაეცნობით თვითარქივაციასთან დაკავშირებულ საკითხებს, ძირითადი ფოკუსით სამეცნიერო სტატიებზე.</p>

	<h3>საავტორო უფლება</h3>
	<p>კვლევის შედეგები ციფრულ რეპოზიტორიუმში მხოლოდ იმ შემთხვევაში უნდა განთავსდეს ღია წვდომაში თუ მასზე არ მოქმედებს რაიმე სამართლებრივი შეზღუდვა (მაგ.: საავტორო უფლების მფლობელის მხრიდან შეზღუდვა, საავტორო უფლების გადაცემის შეთანხმებები, და ა.შ.). თუ თქვენი კვლევის შედეგი უკვე გამოქვეყნებულია (მაგ.: სამეცნიერო სტატია, მონოგრაფია) თქვენ შესაძლოა, გამოქვეყნებამდე დადებული შეთანხმების საფუძველზე, საავტორო უფლება ამ მასალაზე გადაეცით გამომცემელს. ციფრულ რეპოზიტორიუმში თქვენი კვლევის შედეგების ღია წვდომაში განთავსებამდე, უნდა განსაზღვროთ, გაძლევთ თუ არა გამომცემელი რეპოზიტორიუმში თვითარქივაციის უფლებას და თუ გაძლევთ, სტატიის ხელნაწერის რომელი ვერსიის თვითარქივაციის უფლება გაქვთ.</p>
	<p>თუ თქვენ ხართ სტატიის ავტორი, თქვენი უფლებები სტატიაზე შეგიძლიათ გადაამოწმოთ გამომცემელთან დადებული შეთანხმების რელევანტურ პუნქტებში. როგორც წესი, ღია წვდომის ჟურნალში გამოქვეყნებულ სამეცნიერო სტატიებზე საავტორო უფლებას ინარჩუნებს ავტორი, ხოლო დახურული წვდომის ჟურნალებში გამოქვეყნებისას – საავტორო უფლება გადადის ჟურნალის გამომცემელზე.</p>

	<h3>სამეცნიერო ჟურნალები და თვითარქივაციის პოლიტიკა</h3>
	<p>სამეცნიერო ჟურნალების თვითარქივაციის პირობები შეგიძლიათ მოიძიოთ როგორც გამოქვეყნებამდე გამომცემელთან დადებულ შეთანხმებაში, ასევე ონლაინ რესურსში<a href="https://openpolicyfinder.jisc.ac.uk/"> Open Policy Finder</a>, რომელიც გვაწვდის ინფორმაციას სამეცნიერო ჟურნალების თვითარქივაციის პოლიტიკების შესახებ საერთაშორისო დონეზე.</p>
	<p>იმ შემთხვევაში, თუ ზემოთ ჩამოთვლილი მეთოდებით ვერ მოიძიეთ სასურველი ინფორმაცია, ყოველთვის შეგიძლიათ გამომცემლის ვებგვერდზე საკონტაქტო ფორმის ან ელ. ფოსტის მეშვეობით დაუკავშირდეთ გამომცემელს და მოითხოვოთ თვითარქივაციის უფლება.</p>

	<h3>ხელნაწერის ვერსიები თვითარქივაციისთვის</h3>
	<p>თუ თქვენ გაქვთ თვითარქივაციის უფლება, ეს ყოველთვის იმას არ ნიშნავს, რომ რეპოზიტორიუმში თვითარქივაციის მიზნით თქვენი ნაშრომის საბოლოო ანუ გამომცემლის ვერსიის განთავსების უფლება გაქვთ. ქვემოთ გაეცნობით ნაშრომის სხვადასხვა ვერსიების ტიპებს და მათ შორის განსხვავებებს.</p>
	<ul>
		<li>გაგზავნილი ხელნაწერი (SM) - სტატიის თავდაპირველი ვერსია, რომელიც გაგზავნეთ სამეცნიერო ჟურნალის რედაქციაში. ხელნაწერის ამ ვერსიას არ აქვს გავლილი სარედაქციო შემოწმება და რეცენზირების პროცედურა.</li>
		<li>მიღებული ხელნაწერი (AAM) - ვერსია, რომელიც გაგზავნეთ სამეცნიერო ჟურნალის რედაქციაში, რომელმაც გაიარა რეცენზირების პროცედურა და რომელშიც ავტორმა შესაბამისად შეიტანა შესწორებები. ხელნაწერის ეს ვერსია არ არის გამოსაცემად მომზადებული (copyedited) და არ ატარებს ჟურნალის შესახებ მაიდენტიფიცირებელ ინფორმაციას.</li>
		<li>გამომცემლის ვერსია (VOR) - ვერსია, რომელმაც გაიარა რეცენზირების პროცედურა და რომელშიც ავტორმა შესაბამისად შეიტანა შესწორებები. ხელნაწერის ეს ვერსია გამზადებულია გამოსაცემად, არის სამეცნიერო ჟურნალის სტანდარტის შესაბამისად ფორმატირებული, დაკაბადონებული, ატარებს ჟურნალის შესახებ მაიდენტიფიცირებელ ინფორმაციას (DOI, ჟურნალის სახელწოდება, გვერდების ნუმერაცია და ა.შ.).</li>
	</ul>
	<p>კვლევის შედეგის ციფრულ რეპოზიტორიუმში განთავსებამდე გადაამოწმეთ, სტატიის ხელნაწერის რომელი ვერსიის უფლებას გრთავთ გამომცემელი.</p>
	<p>გამომცემელი შესაძლოა გიზღუდავდეთ საბოლოო გამომცემლის ვერსიის (VOR) განთავსებას, თუმცა ხშირად, გამომცემლები ავტორებს უფლებას რთავენ რეპოზიტორიუმებში განათავსონ მიღებული ხელნაწერი (AAM) ან გაგზავნილი ხელნაწერი (SM). სტატიის ხელნაწერის ეს ვერსიები ფართოდ არის მიღებული ციფრული თვითარქივაციის მიზნებისთვის. თუ თქვენ არ გაქვთ საბოლოო გამომცემლის ვერსიის (VOR) განთავსების უფლება, დარჩენილ ორ ვერსიას შორის ყოველთვის უპირატესობა მიანიჭეთ რეპოზიტორიუმში მიღებული ხელნაწერი (AAM) ვერსიის განთავსებას.</p>

	<h3>თვითარქივაცია და გამომცემლის პირობები</h3>
	<p>როგორც უკვე ითქვა, გამომცემელი შესაძლოა არ გაძლევდეთ უფლებას, რეპოზიტორიუმში განათავსოთ გამომცემლის ვერსია (VOR), თუმცა უფლება გქონდეთ განათავსოთ მიღებული ხელნაწერი (AAM) ან გაგზავნილი ხელნაწერი (SM), რაც თვითარქივაციის მიღებული ფორმებია. ამ შემთხვევებში გამომცემელი შესაძლოა გთხოვდეთ ვერსიის რეპოზიტორიუმში განთავსებისას სხვადასხვა პირობების დაკმაყოფილებას, ასეთი პირობები შეიძლება იყოს:</p>
	<ul>
		<li>გამომცემლის ვებ-გვერდის ბმული</li>
		<li>სტატიის გამომცემლის ვებ-გვერდზე სტატიის საბოლოო ვერსიის ბმული</li>
		<li>DOI: გამომცემელი შესაძლოა გთხოვდეთ, სტატიის ვერსიის განთავსების შემთხვევაში, მეტამონაცემებში მითითებული იყოს DOI. ამ შემთხვევაში DOI ეთითება ბმულის სახით, მაგალითად, <a href="https://doi.org/10.1234/os567">https://doi.org/10.1234/os567</a></li>
		<li>ემბარგო პერიოდი: გამომცემელი შესაძლოა მოითხოვდეს გადავადებული ღია წვდომის უზრუნველყოფას სტატიის თვითარქივაციის შემთხვევაში, რაც იმას ნიშნავს, რომ რეპოზიტორიუმში თვითარქივაციის შემთხვევაში თქვენ უფლება გაქვთ ის ღია წვდომისთვის გახსნათ გარკვეული ვადის შემდეგ (მაგ., 3 თვე, 6 თვე). როგორც წესი, ამ პერიოდს ეწოდება „ემბარგო პერიოდი“. ასეთ შემთხვევებში, რეპოზიტოტორიუმში სტატიის განთავსებისას უნდა მიუთითოთ ემბარგო რა შემთხვევაშიც სტატიის მეტამონაცემები რეპოზიტორიუმის ვიზიტორებისთვის ხილული იქნება, ხოლო სტატიის ფაილი თქვენს მიერ მითითებული პერიოდის შემდეგ გახდება ხელმისაწვდომი.</li>
	</ul>

	<h3>მრავალავტორიანი კვლევის შედეგები</h3>
	<p>ციფრულ რეპოზიტორიუმში შესაძლებელია მრავალავტორიანი/ავტორთა ჯგუფის მიერ შექმნილი კვლევის შედეგების განთავსება. რეპოზიტორიუმში კვლევის შედეგების განთავსებამდე დარწმუნდით, რომ სხვა ავტორები თანახმა არიან განთავსებაზე.</p>
	<p>გთხოვთ, რეპოზიტორიუმში მასალის განთავსებამდე დარწმუნდეთ, რომ არ არღვევთ სამეცნიერო ჟურნალების საავტორო უფლებების, თვითარქივაციის პოლიტიკის პირობებსა და, მრავალავტორიანი კვლევის შემთხვევებში, არ ეწინააღმდეგებით სხვა ავტორთა სურვილს. სამეცნიერო ჟურნალების პირობების დაცვის გადასამოწმებლად ყოველთვის შეგიძლიათ ისარგებლოთ ონლაინ რესურსით <a href="https://openpolicyfinder.jisc.ac.uk/">Open Policy Finder.</a></p>
</section>
